@model NationalParks.Models.Parks

<h1>Parks</h1>
<hr />
@foreach (var item in Model.data)
{
    <div>
        <h3>
            @Html.DisplayFor(modelItem => item.candidate_id)
        </h3>
        <div>
            @Html.DisplayFor(modelItem => item.candidate_name)
        </div>
        <a>
            @Html.DisplayFor(modelItem => item.candidate_pcc_id)
        </a>
    </div>
    <br />
}


<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>